@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/soehne-buch.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: italic;
  font-weight: 400;
  src: url(/assets/fonts/soehne-buch-kursiv.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/soehne-kraftig.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: italic;
  font-weight: 500;
  src: url(/assets/fonts/soehne-kraftig-kursiv.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: normal;
  font-weight: 600;
  src: url(/assets/fonts/soehne-halbfett.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: italic;
  font-weight: 600;
  src: url(/assets/fonts/soehne-halbfett-kursiv.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Söhne Mono;
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/soehne-mono-buch.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Söhne Mono;
  font-style: italic;
  font-weight: 400;
  src: url(/assets/fonts/soehne-mono-buch-kursiv.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Söhne Mono;
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/soehne-mono-halbfett.woff2) format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Söhne, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  line-height: 1.5;
  tab-size: 4;
}

body,
html {
  height: 100%;
}

#root {
  height: 100%;
}
